---
import Layout from '../components/Layout.astro';
import Background from '../components/Background.astro';
---

<Layout title="about-me">
  <main>
    <Background />
    <div id="content">
      <h1>About Me</h1>
      <p>Coming soon.</p>
    </div>
  </main>
</Layout>
