---
import Layout from '../components/Layout.astro';
import Background from '../components/Background.astro';
---

<Layout title="CV">
  <main>
    <Background />
    <div id="content">
      <h1>CV</h1>
      <p>
        <a href="/files/cv.pdf" target="_blank" rel="noopener">Open CV (PDF)</a>
      </p>
    </div>
  </main>
</Layout>
