---
import Layout from '../components/Layout.astro';
import Background from '../components/Background.astro';
---

<Layout title="Astro Quickstart">
	<main>
   <Background />
    <div id="content">
		<div class="header">
		  <h1>Aobo Lyu</h1>
		  <h2>
		    PhD Student in Systems Science & Mathematics · Research on information theory, control, and complex systems
		  </h2>
		
		  <div class="btns">
		    <a href="/about-me" class="btn primary">About</a>
		    <a href="/publications" class="btn secondary">Publications</a>
		    <a href="/cv" class="btn secondary">CV</a>
		    <a href="/contact" class="btn secondary">Contact</a>
		  </div>
		</div>
    </div>
	</main>
</Layout>
